/* about */
#about {
    color: #212529;
    padding: 55px 0 0;
    
}

#about .about-head h2 {
    font-size: var(--font-xl);
    font-weight: var(--font-500);
    text-align: center;
    padding-bottom: 24px;
    
}

#about .container-about {
    width: 70vw;
    margin: 0 auto;
    background-color: #fff;
    padding: 40px;
}

#about .container-about h2 {
    font-size: var(--font-xl);
    font-weight: var(--font-400);
    padding-bottom: 16px;
    font-family: var(--arab-font);
}

#about .container-about p {
    font-size: var(--font-s);
    margin-bottom: 16px;
    line-height: 1.5;
}

#about .container-about h4 {
    font-size: 27px;
    font-weight: var(--font-400);
    font-family: var(--arab-font);
    padding-top: 16px;
}
