/* contact */
#contact {
    padding: 0px 0 60px;
}


#contact .container-contact {
    padding: 55px 0 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#contact .container-contact h3 {
    font-size: var(--font-m);
    font-weight:var(--font-500);
    margin-bottom: 28px;
}

#contact .container-contact form {
    width: 70vw;
    border: var(--border);
    border-radius: 6px;
    background-color: #fff;
}

#contact .container-contact form .title {
    font-size: var(--font-s);
    font-weight: var(--font-400);
    border-bottom: var(--border);
    padding: 8px 16px;
    background: rgba(33,37,41, 0.03);
}

#contact .container-contact form .body label {
    font-size: var(--font-s);
    margin-right: 12px;
}

#contact .container-contact form .body {
    padding: 12px;
}

#contact .container-contact form .body .atas {
    display: flex;
    justify-content: space-between;    
    padding: 12px;
}



#contact .container-contact form .body input, .body textarea {
    /* width: 10%; */
    display: block;
    width: 80%;
    padding: 8px 10px;
    font-size: var(--font-xs);
    font-weight: var(--font-400);
    line-height: 1.5;
    color: #212529;
    border: 1px solid #dee2e6;
    border-radius: 6px;
    font-family: 'JetBrains Mono', monospace;
    outline: none;
}

#contact .container-contact form .body textarea {
    min-height: 80px;
}

#contact .container-contact form button {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background-color: #0D6EFD;
    font-size: var(--font-xs);
    font-weight: var(--font-400);
    font-family: 'JetBrains Mono', monospace;
    margin: -15px 10px 0;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: none;
}

.social h2 {
    font-size: var(--font-xl);
    font-weight: var(--font-400);
    line-height: 1.2;
    text-align: center;
    margin-bottom: 60px;
}

.social .social-content {
    width: 70vw;
    margin: auto;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    /* margin: 24px 0; */
}

.social .social-content a {
    width: 77px;
}

.social .social-content a img {
    width: 100%;
    background-color: #fff;
    border-radius: 4px;
}