
#digital {
    font-family: 'Viga', sans-serif;
    padding-top: 50px;
}

#digital h2 {
    font-size: 31px;
    font-weight: 500;
}

#digital .container-digital {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 50px;
    gap: 50px;
}

#digital .container-digital .digital-kiri {
    flex-basis: 34%;
}

#digital .container-digital .digital-kiri h2 {
    margin-bottom: 7px;
}

#digital .container-digital .digital-kiri p {
    font-size: 1.6em;
    line-height: 1.6;
}

#digital .container-digital .digital-kanan {
    width: 480px;
}

#digital .container-digital .digital-kanan img {
    width: 100%;
    object-fit: cover;
}
