@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');

@font-face{
    font-family:'LPMQ';
    src:url('https://kangismet.github.io/fonts/lpmq.eot');
    src:url('https://kangismet.github.io/fonts/lpmq.eot?#iefix') format('embedded-opentype'),
    url('https://kangismet.github.io/fonts/lpmq.ttf') format('truetype');
    font-weight:400;
    font-weight:normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    --font-xl: 3.2rem;
    --font-m: 2.8rem;
    --font-s: 1.9rem;
    --font-xs: 1.6rem;
    --font-400: 400;
    --font-500: 500;
    --font-600: 600;
    --font-700: 700;
    --font-white: #ffffff;
    --font-black: #000000;
    --font-side: #ffcc70;
    --viga-font: 'Viga', sans-serif;
    --arab-font: LPMQ,"Traditional Arabic",Tahoma,sans-serif;
    --poppins: 'Poppins', sans-serif;
    --background: rgb(33,37,41);
    --border: 1px solid rgba(0, 0, 0, 0.175);
}

::selection {
    color: var(--font-white);
    background-color: var(--font-side);
}

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    font-family: 'JetBrains Mono', monospace;

}
/*==================== NAVBAR ====================*/
.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 18.5px 0;
    background-color: var(--background);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999999;
}
.navbar.not-fixed {
    z-index: 1;
}

.navbar nav {
    order: 2;
}
.navbar .kiri {
    order: 1;
}
.navbar button {
    order: 3;
}

.navbar .kiri a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

.navbar nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar nav ul li {
    list-style: none;
    margin: 0 15px;
}

.navbar nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: var(--font-s);
    font-weight: var(--font-400);
}

.navbar nav ul li a.kuning {
    color: var(--font-side);
}

.navbar nav ul li a:hover {
    color: var(--font-side);
}

.navbar button {
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 6px;
    cursor: pointer;
    width: 60px;
    height: 40px;
    visibility: hidden;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.navbar button i {
    font-size: 2.48rem;
    padding: 6px 12px;
    background-color: transparent;
    color: #ffffff8c;
}

/*==================== HOME ====================*/
.container-home {
    width: 100%;
    height: 55rem; 
    background-color: var(--background);
}

.home-content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    gap: 50px;
    
}

.content-kiri, .content-kanan {
    margin: -25px 15px 0;
    
}

.content-kanan {
    max-width: 450px;
    width: 100%;
    height: 371px;
}

.content-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


.home-content .content-kiri h2, span {
    font-size: var(--font-xl);
    font-weight: var(--font-500);
    font-family: var(--viga-font);
    margin-bottom: 10px;
}

.home-content .content-kiri h2 span {
    color: var(--font-side);
}

.home-content .content-kiri p {
    font-size: var(--font-xs);
    font-weight: var(--font-500);
    font-family: var(--viga-font);
    margin-bottom: 18px;
}

.home-content .content-kiri a {
    display: inline-block;
    font-size: var(--font-xs);
    font-weight: var(--font-400);
    font-family: var(--viga-font);
    background-color: #FDB813;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px;
    color: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.home-content .content-kiri a i {
    font-size: 14px;
    border-radius: 50%;
    background-color: #fff;
    color: #FDB813;
    padding: 3px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
/*==================== DIGITAL ====================*/

#digital {
    font-family: 'Viga', sans-serif;
    padding-top: 50px;
}

#digital h2 {
    font-size: 31px;
    font-weight: 500;
}

#digital .digital-title {
    padding: 0 12px;
}

#digital .container-digital {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 50px;
    gap: 50px;
}

#digital .container-digital .digital-kiri {
    flex-basis: 34%;
}

#digital .container-digital .digital-kiri h2 {
    margin-bottom: 7px;
}

#digital .container-digital .digital-kiri p {
    font-size: 1.6em;
    line-height: 1.6;
}

#digital .container-digital .digital-kanan {
    width: 480px;
}

#digital .container-digital .digital-kanan img {
    width: 100%;
    object-fit: cover;
}
/*==================== DAFTAR-SURAT ====================*/
#daftar-surat {
    margin-top: 80px;
}

#daftar-surat .daftar-header {
    border-bottom: 2px solid#ffcc70;
    padding-bottom: 18px;
}

#daftar-surat .daftar-header .daftar-image {
    max-width: 400px;
    height: 150px;
    margin: 0 15px 10px;
    /* margin-bottom: 10px; */

}

#daftar-surat .daftar-header .daftar-image img {
    width: 100%;
    height: 100%;
}

#daftar-surat .daftar-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#daftar-surat .daftar-header h3 {
    font-size: 24px;
    margin: 10px 0;
}

#daftar-surat .daftar-header .searchInput {
    width: 90vw;
    max-width: 620px;
    height: 40px;
    font-size: 15px;
    text-align: center;
    font-family: 'JetBrains Mono', monospace;
    background: #fff;
    color: #5c5b64;
    border: 1px solid rgb(203 213 225/1);
    margin: 20px 0;
    padding-left: 10px;
    border-radius: 10px;
    line-height: 1.7;
    outline: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

#daftar-surat .daftar-header .searchInput:focus {
    outline: 2px solid var(--background);
}

#daftar-surat .container-daftar-surat {
    max-width: 130rem;
    width: 100%;
    margin: 0 auto;
    /* margin: 26px auto; */
    padding: 0 25px;
}

#daftar-surat .daftar-body {
    margin-top: 24px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    gap: 15px;
}

#daftar-surat .daftar-body > a {
    margin: 15px 0;
}

#daftar-surat .daftar-body .daftar-content {
    display: flex;
    align-items: center;
    border-radius: 10px;
    height: 70px;
    cursor: pointer;
    border: 2px solid #ffcc70;
    background-color: #2E2E2E;
    color: #fff;
    position: relative;
    z-index: 9999;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

#daftar-surat .daftar-body .datang {
    text-decoration: none;
    color: #000;
    color: #ffcc70;
}

#daftar-surat .daftar-body .daftar-content .daftar-kiri {
    display: flex;
    align-items: center;
    
}

#daftar-surat .daftar-body .daftar-content .daftar-kiri span {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: rgb(33,37,41);
    border-radius: 10px;
    font-size: 22px;
    padding: 15px;
    margin: 0;
    margin-right: 12px;
    margin-left: 7px;
    background-color: #6F6F6F;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

#daftar-surat .daftar-body .daftar-content .daftar-kiri .bawah a {
    font-size: 15px;
    font-weight: 700;
}

#daftar-surat .daftar-body .daftar-content .daftar-kiri .bawah p {
    font-size: 10px;
    font-weight: 600;
    margin-top: 3px;
}

#daftar-surat .daftar-body .daftar-content .daftar-kiri .cont {
    height: 10px;
    display: flex;
    flex-direction: column;
}

#daftar-surat .daftar-body .daftar-content .daftar-kanan {
    margin-left: auto;
}

#daftar-surat .daftar-body .daftar-content .daftar-kanan p {
    font-size: 13px;
    text-align: right;
    margin-right: 15px;
    line-height: 1.5;
}

/*========================== ISI-SURAT ==========================*/
#surat  {
    margin-top: 150px;
}

.container-surat {
    padding: 40px;
    color: #212529;
    width: 90vw;
    max-width: 80rem;
    margin: 0 auto;
    background-color: #fff;
}

.container-surat a {
    display: inline-block;
    text-decoration: none;
    color: var(--font-white);
    background-color: var(--font-black);
    font-size: var(--font-xs);
    font-weight: var(--font-400);
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    letter-spacing: .8px;
    padding: 8px 12px;
    margin-bottom: 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
}

.container-surat a:hover {
    opacity: 0.85;
}

.container-surat .judul-surat h3 {
    font-size: var(--font-s);
    font-weight: var(--font-400);
    margin-bottom: 10px;
}

.container-surat .content-surat .arabic {
    font-size: 3rem;
    text-align: right;
    padding-top: 20px;
    padding-bottom: 10px;
    font-family: var(--arab-font);
    line-height: 2.4;
    font-weight: normal;
    direction: rtl;
}

.container-surat .content-surat .teks {
    font-size: 1.7rem;
    font-weight: 400;
    color: var(--font-black);
    font-family: 'Poppins', sans-serif;
    margin-bottom: 18px;
    line-height: 1.6;
}

.container-surat .content-surat .translate {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--font-black);
    opacity: .8;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 18px;
    line-height: 1.6;
}

.number-surah {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #eee;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
}

.number-surah .number {
    font-size: 1.6rem;
    text-align: center;
    width: 2.7rem;
    height: 2.7rem;
    line-height: 2.7rem;
    background-color: var(--font-black);
    color: var(--font-white);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.number-surah .share {
    display: flex;
    align-items: center;
    gap: 10px;
}

.number-surah .share svg {
    color: var(--font-black);
    cursor: pointer;
}

.header-surah {
    position: relative;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(to bottom right, rgb(33,37,41) 20%, rgb(0, 0, 0));
    color: var(--font-white);
    padding: 1.8rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    
}

.header-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-content h3 {
    font-size: 2.4rem;
    font-weight: 600;
}
.header-content p {
    font-size: 1.6rem;
    font-weight: 400;
}
.header-content .garis {
    height: .5px;
    background-color: #dee2e6;
    width: 50%;
    margin: 10px 0;
}
.header-content .turun {
    display: block;
    font-size: 1.6rem;
    font-weight: 400;
    text-transform: uppercase;
    /* margin: 1rem 0; */
    /* margin-top: 1rem; */
    /* margin-bottom: 1.5rem; */
}
.header-content h2 {
    font-size: 3rem;
    font-family: var(--arab-font);
    font-weight: 200;
    /* line-height: 3.2rem; */
}

.audio-surah, audio {
    width: 100%;
}

.audio-surah {
    margin: 25px 0;
}

.header-surah .info {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}


/* deskripsi surat */
.desk-surah, .tafsir-surah {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    inset: 0;
    padding: 1.5rem;
    animation: detailAnimate 0.27s ease-in-out;
    -webkit-animation: detailAnimate 0.27s ease-in-out;
}
.desk-surah.flex, .tafsir-surah.taft {
    display: flex;
    z-index: 999;
}

.content-desk-surah, .content-tafsir-surah {
    max-width: 57.6rem;
    width: 100%;
    max-height: 38.4rem;
    background-color: #fff;
    padding: 2.4rem;
    overflow-y: auto;
    border-radius: 1.6rem;
    -webkit-border-radius: 1.6rem;
    -moz-border-radius: 1.6rem;
    -ms-border-radius: 1.6rem;
    -o-border-radius: 1.6rem;
}

.content-desk-surah h3, .content-tafsir-surah h3 {
    font-size: 1.8rem;
    font-weight: 500;
    color: #111827;
    text-transform: capitalize;
    margin-bottom: 1.6rem;
}
.content-desk-surah > p, i {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 24px;
}

.content-desk-surah > p > i.desk-italic {
    font-style: italic;
    font-weight: 400;
    /* display: inline-block; */
}

.body-tafsir {
    margin-top: 1.6rem;
}

.body-tafsir p {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 24px;
    white-space: pre-line;
    text-align: left;
}

/*======================= ABOUT =======================*/
/* about */
#about {
    color: #212529;
    padding: 55px 0 0;
    
}

#about .about-head h2 {
    font-size: var(--font-xl);
    font-weight: var(--font-500);
    text-align: center;
    padding-bottom: 24px;
    margin: 0 15px;
}

#about .container-about {
    max-width: 1200px;
    width: 90vw;
    margin: 0 auto;
    background-color: #fff;
    padding: 40px 24px;
}

#about .container-about h2 {
    font-size: var(--font-xl);
    font-weight: var(--font-400);
    padding-bottom: 16px;
    font-family: var(--arab-font);
}

#about .container-about p {
    font-size: var(--font-s);
    margin-bottom: 16px;
    line-height: 1.5;
}

#about .container-about h4 {
    font-size: 27px;
    font-weight: var(--font-400);
    font-family: var(--arab-font);
    padding-top: 16px;
}
/*======================= CONTACT =======================*/
#contact {
    padding: 0px 0 60px;
}


#contact .container-contact {
    padding: 55px 0 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 1200px;
    width: 90vw;
    margin: 0 auto;
}

#contact .container-contact h3 {
    font-size: var(--font-m);
    font-weight:var(--font-500);
    margin-bottom: 28px;
    text-align: center;
}

#contact .container-contact form {
    width: 100%;
    border: var(--border);
    border-radius: 6px;
    background-color: #fff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

#contact .container-contact form .title {
    font-size: var(--font-s);
    font-weight: var(--font-400);
    border-bottom: var(--border);
    padding: 8px 16px;
    background: rgba(33,37,41, 0.03);
}

#contact .container-contact form .body label {
    font-size: var(--font-s);
    margin-right: 12px;
}

#contact .container-contact form .body {
    padding: 12px;
}

#contact .container-contact form .body .atas {
    display: flex;
    justify-content: space-between;    
    padding: 12px;
}



#contact .container-contact form .body input, .body textarea {
    display: block;
    width: 80%;
    padding: 8px 10px;
    font-size: var(--font-xs);
    font-weight: var(--font-400);
    line-height: 1.5;
    color: #212529;
    border: 1px solid #dee2e6;
    border-radius: 6px;
    font-family: 'JetBrains Mono', monospace;
    outline: none;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

#contact .container-contact form .body textarea {
    min-height: 80px;
}

#contact .container-contact form button {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background-color: #FDB813;
    font-size: var(--font-xs);
    font-weight: var(--font-400);
    font-family: 'JetBrains Mono', monospace;
    margin: -15px 10px 0;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.social h2 {
    font-size: var(--font-xl);
    font-weight: var(--font-400);
    line-height: 1.2;
    text-align: center;
    margin: 0 10px 60px;
    /* margin-bottom: 60px; */
}

.social .social-content {
    width: 70vw;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.social .social-content a {
    width: 77px;
}

.social .social-content a img {
    width: 100%;
    background-color: #fff;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

footer {
    text-align: center;
    font-size: 19.2px;
    padding: 40px 15px;
}

#arrow {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    text-decoration: none;
    position: fixed;
    bottom: 102vh;
    right: 60px;
    transition: all 1s;
    z-index: 99999;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
}

#arrowTop {
    width: 60px;
    height: 60px;
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--font-black);
    text-decoration: none;
    color: var(--font-white);
    border-radius: 50%;
    transform: rotate(180deg);
    transition: transform 1s;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -webkit-transition: transform 1s;
    -moz-transition: transform 1s;
    -ms-transition: transform 1s;
    -o-transition: transform 1s;
}

#arrow.scrolled {
    bottom: 60px;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
}

#arrow.scrolled #arrowTop {
    transform: rotate(0);
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
}

@keyframes detailAnimate {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

@media screen and (min-width: 1400px) {
    .container-home {
        width: 100%;
        height: 70rem; 
        background-color: var(--background);
    }
}

@media screen and (max-width: 1400px) {
    
}

@media only screen and (max-width: 992px) {

    .container-home {
        width: 100%;
        height: 65rem; 
        background-color: var(--background);
    }

    .navbar nav {
        position: absolute;
        top: 75px;
        height: 400px;
        left: 0;
        right: 0;
        height: 0;
        width: 100vw;
        z-index: 99999;
        transition: 0.4s;
        background-color: var(--background);
        overflow: hidden;
        -webkit-transition: 0.4s;
        -moz-transition: 0.4s;
        -ms-transition: 0.4s;
        -o-transition: 0.4s;
}

    .navbar nav.aktif {
        height: 156px;
    }
    
    .navbar nav {
        order: 2;
    }
    .navbar .kiri {
        order: 1;
    }
    .navbar button {
        order: 3;
    }
    
    .navbar nav ul {
        display: flex;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center; 
        flex-direction: column;
        gap: 12px;
    }
    
    .navbar nav ul li a {
        text-decoration: none;
        color: #fff;
        font-size: var(--font-s);
        font-weight: var(--font-400);
    }
    
    .navbar nav ul li a.kuning {
        color: var(--font-side);
    }
    
    .navbar nav ul li a:hover {
        color: var(--font-side);
    }
    
   .navbar button {
        visibility: visible;
    }

    .home-content {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    #digital h2 {
        font-size: 2.57rem;
        font-weight: 500;
    }

    #digital .digital-title {
        font-size: 3.1rem;
    }
    
    #digital .container-digital .digital-kiri {
        flex-basis: 90%;
    }

    #digital .container-digital .digital-kanan {
        flex-basis: 100%;
        display: flex;
        justify-content: center;
    }

    #daftar-surat .daftar-body {
        margin-top: 24px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
        gap: 15px;
    }

}

@media screen and (max-width: 768px) {
    
    #contact .container-contact {
        padding: 60px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    #contact .container-contact h3 {
        font-size: var(--font-m);
        font-weight: var(--font-400);
        margin-bottom: 28px;
        text-align: center;
    }
    
    
    #contact .container-contact form .body label {
        font-size: var(--font-s);
        margin: 0 12px 10px 0;
    }
    
    #contact .container-contact form .body .atas {
        display: flex;
        flex-direction: column;
        justify-content: space-between;    
        padding: 12px;
    }

    #contact .container-contact form button {
        margin: 10px 10px 0;
    }
    
    
    
    #contact .container-contact form .body input, .body textarea {
        width: 100%;
    }
    

    .social .social-content {
        width: 70vw;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(2, 111px);
        place-items: center;
        flex-wrap: wrap;
    }
    
    .social .social-content a {
        width: 111px;
        margin: 15px 0;
    }

}

@media screen and (max-width: 600px) {

    #daftar-surat .container-daftar-surat {
        padding: 0 20px;
    }

    #daftar-surat .daftar-body {
        margin-top: 24px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        align-items: center;
        gap: 15px;
    }


    #about .about-head h2 {
        font-size: 2.6rem;
        font-weight: var(--font-400);
        text-align: center;
        padding-bottom: 24px;
        
    }

    #digital .container-digital .digital-kanan img {
        object-fit: cover;
    }

    

}

@media screen and (max-width: 576px) {

   
    #digital .container-digital .digital-kanan img {
        width: 100%;
        object-fit: cover;
    }

    .container-surat {
        width: 100%;
        padding: 40px 20px;
    }

    .header-content h3 {
        font-size: 2rem;
        font-weight: 600;
    }
    .header-content p {
        font-size: 1.6rem;
        font-weight: 400;
    }
    .header-content .garis {
        height: .5px;
        background-color: #dee2e6;
        width: 50%;
        margin: 10px 0;
    }
    .header-content .turun {
        display: block;
        font-size: 1.6rem;
        font-weight: 400;
        text-transform: uppercase;
        
    }
    .header-content h2 {
        font-size: 2.4rem;
        font-family: var(--arab-font);
        font-weight: 200;
    }

}

@media screen and (max-width: 525px) {
    #digital .digital-title {
        font-size: 2.57rem;
    }
}
/* @media screen and (max-width: 500px) {
    
} */

@media screen and (max-width: 400px) {

    .home-content .content-kiri h2, span {
        font-size: var(--font-m);
    }
    
    .home-content .content-kiri p {
        font-size: calc(var(--font-xl) / 2.1);
    }
    
    .home-content .content-kiri a {
        background-color: #FDB813;
    }
    
    .home-content .content-kiri a i {
        color: #FDB813;
    }
    
}

@media screen and (max-height: 413px) {
    .desk-surah, .tafsir-surah {
        height: max-content;
    }
}







