@import "assets/css/navbar.css";
@import "assets/css/home.css";
@import "assets/css/digital.css";
@import "assets/css/daftar-surat.css";
@import "assets/css/isi-surat.css";
@import "assets/css/about.css";
@import "assets/css/contact.css";
@import "assets/media-query/max-laptop.css";
@import "assets/media-query/min-laptop.css";
@import "assets/media-query/tablet.css";
@import "assets/media-query/handphone.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    --font-xl: 3.2rem;
    --font-m: 2.8rem;
    --font-s: 1.9rem;
    --font-xs: 1.6rem;
    --font-400: 400;
    --font-500: 500;
    --font-600: 600;
    --font-700: 700;
    --font-white: #ffffff;
    --font-black: #000000;
    --font-side: #ffcc70;
    --viga-font: 'Viga', sans-serif;
    --arab-font: "Uthmani", sans-serif;
    --background: rgb(33,37,41);
    --border: 1px solid rgba(0, 0, 0, 0.175);
}

::selection {
    color: var(--font-white);
    background-color: var(--font-side);
}

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    font-family: 'JetBrains Mono', monospace;
}

footer {
    text-align: center;
    font-size: 19.2px;
    padding: 40px 0;
}

#arrow {
    height: 100vh; 
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    text-decoration: none;
    position: fixed;
    top: -900px;
    right: 60px;
    transition: all 1s;
    
}

#arrowTop {
    width: 60px;
    height: 60px;
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--font-black);
    text-decoration: none;
    color: var(--font-white);
    border-radius: 50%;
    transform: rotate(180deg);
    transition: transform 1s;
}

#arrow.scrolled {
    justify-content: flex-end;
    top: -60px; 
    transition: all 1s;
}

#arrow.scrolled #arrowTop {
    transform: rotate(0);
}









