@import "css/navbar.css";
@import "css/home.css";
@import "css/digital.css";
@import "css/daftar-surat.css";
@import "css/isi-surat.css";
@import "css/about.css";
@import "css/contact.css";
@import "media-query/max-laptop.css";
@import "media-query/min-laptop.css";
@import "media-query/tablet.css";
@import "media-query/handphone.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    --font-xl: 3.2rem;
    --font-m: 2.8rem;
    --font-s: 1.9rem;
    --font-xs: 1.6rem;
    --font-400: 400;
    --font-500: 500;
    --font-600: 600;
    --font-700: 700;
    --font-white: #ffffff;
    --font-black: #000000;
    --font-side: #ffcc70;
    --viga-font: 'Viga', sans-serif;
    --arab-font: "Uthmani", sans-serif;
    --background: rgb(33,37,41);
    --border: 1px solid rgba(0, 0, 0, 0.175);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'JetBrains Mono', monospace;
}

footer {
    text-align: center;
    font-size: 19.2px;
    padding: 40px 0;
}








