@media screen and (max-width: 1400px) {

    #daftar-surat .container-daftar-surat {
        max-width: 1140px;
        margin: 26px auto;
        padding: 0 3vw;
        /* gap: 40px; */
    }
    

    #daftar-surat .daftar-body {
        margin-top: 24px;
        display: grid;
        grid-template-columns: repeat(3, 25vw);
        align-items: center;
        margin: 0;
        gap: 15px;
        /* padding: 0 2vw; */
    }
}