@media screen and (max-width: 768px) {

    
    #contact {
        padding: 80px 0 60px;
    }
    
    
    #contact .container-contact {
        padding: 60px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    #contact .container-contact h3 {
        font-size: var(--font-m);
        font-weight: var(--font-400);
        margin-bottom: 28px;
    }
    
    #contact .container-contact form {
        width: 70vw;
        border: var(--border);
        border-radius: 6px;
    }
    
    #contact .container-contact form .title {
        font-size: var(--font-s);
        font-weight: var(--font-400);
        padding: 8px 16px;
        background: rgba(33,37,41, 0.03);
        border-bottom: var(--border);
    }
    
    #contact .container-contact form .body label {
        font-size: var(--font-s);
        margin: 0 12px 10px 0;
    }
    
    #contact .container-contact form .body {
        padding: 12px;
    }
    
    #contact .container-contact form .body .atas {
        display: flex;
        flex-direction: column;
        justify-content: space-between;    
        padding: 12px;
    }
    
    
    
    #contact .container-contact form .body input, .body textarea {
        /* width: 10%; */
        display: block;
        width: 100%;
        padding: 8px 10px;
        font-size: var(--font-xs);
        font-weight: var(--font-400);
        line-height: 1.5;
        color: #212529;
        border: 1px solid #dee2e6;
        border-radius: 6px;
        font-family: 'JetBrains Mono', monospace;
        outline: none;
    }
    
    #contact .container-contact form .body textarea {
        min-height: 80px;
        margin-bottom: 26px;
    }
    
    #contact .container-contact form button {
        display: inline-block;
        text-decoration: none;
        color: #fff;
        background-color: #0D6EFD;
        font-size: var(--font-xs);
        font-weight: var(--font-400);
        font-family: 'JetBrains Mono', monospace;
        margin: -15px 10px 0;
    
        /* font-family: 'Viga', sans-serif !important; */
        /* letter-spacing: 1.1px; */
        padding: 10px;
        border-radius: 5px;
        outline: none;
        border: none;
    }
    

    .social .social-content {
        width: 70vw;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(2, 111px);
        place-items: center;
        flex-wrap: wrap;
        /* margin: 24px 0; */
    }
    
    .social .social-content a {
        width: 111px;
        margin: 15px 0;
    }
    
    .social .social-content a img {
        width: 100%;
        background-color: #fff;
    }

    .container-table table {
        width: 530px;
        margin: 0 auto;
        border-collapse: collapse;
        text-align: center;
    }

    .container-table table td, table th, table td span {
        padding: 12px 8px;
        font-size: var(--font-s);
        font-weight: var(--font-400);
        border: 1px solid #000;
        
    }

}

@media screen and (max-width: 600px) {

    #daftar-surat .daftar-body {
        margin-top: 24px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        gap: 15px;
    }


    #about .about-head h2 {
        font-size: 2.6rem;
        font-weight: var(--font-400);
        text-align: center;
        padding-bottom: 24px;
        
    }

    #digital .container-digital .digital-kanan img {
        /* width: 480px; */
        object-fit: cover;
    }

}

@media screen and (max-width: 576px) {

   
    #digital .container-digital .digital-kanan img {
        width: 100%;
        object-fit: cover;
    }

}